.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .c1 {
    background-color: #ffffff;
    border-radius: 12px;
    padding: 30px;
    width: 80%;
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .w {
    margin-top: 20px;
  }
  
  /* .banner-image {
    width: 100%;
    height: 200px;
    border-radius: 12px;
    margin-bottom: 20px;
    background-image: url('../Components/list_1.jpg');
    background-size: cover;
    background-position: center;
  } */
  
  h1 {
    font-family: 'Righteous', sans-serif;
    color: #333333;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  p {
    font-family: 'Cabin', sans-serif;
    color: #666666;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .bw {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btno {
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .outline {
    background: transparent;
    color: #8ac85e;
    border: 2px solid #8ac85e;
  }
  
  .fil {
    background: #8ac85e;
    color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  .fil:hover,
  .outline:hover {
    transform: scale(1.05);
  }
  
  .imgBorderAddBox {
    border-radius: 50%;
    border: 3px solid #8ac85e; /* Green border */
  }
  