@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Protest+Revolution&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */

body {
  background-image: url('../Components/Bg_Image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 60vh;
  margin: 0;
}

.container {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: whitesmoke;
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  /* background-color: rgba(17, 25, 40, 0.25); */
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 34px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  width: 465px;
  position: relative;
  height: fit-content;
  margin-bottom: 2rem;
  max-height: 598px;
}

.wrapper {
  width: 100%;
  height: 100%;

}

.banner-image {
  background-image: url(../Components/list_1.jpg);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
  margin-bottom: 1rem;
}

h1 {
  font-family: 'Righteous', sans-serif;
  /* color: rgba(255,255,255,0.98); */
  color: #8ac85e;
  text-transform: uppercase;
  font-size: 2.0rem;
}

p {
  color: #8ac85e;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button-wrapper {
  margin-top: 18px;
}

.btn {
  border: none;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 12px;
  font-size: 0.8rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.btn+.btn {
  margin-left: 10px;
}

.outline {
  background: transparent;
  /* color: rgba(0, 212, 255, 0.9); */
  color: #8ac85e;
  border: -2px solid #8ac85e;
  transition: all .3s ease;

}

.outline:hover {
  transform: scale(1.125);
  /* color: rgba(255, 255, 255, 0.9); */
  color: #8ac85e;
  border-color: #8ac85e;
  transition: all .3s ease;
}

.fill {
  background: #8ac85e;
  color: #8ac85e;
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all .3s ease;
  color: white;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all .3s ease;
}

.rating {
  margin-top: 18px;
  width: 100%;
}