/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}

/* body{
    min-height: 100vh;
    background-color: var(--primary-color);
} */
/* body.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
} */
/* === Custom Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #0b3cc1;
}

/* body.dark::-webkit-scrollbar-thumb:hover,
body.dark .owner-activity-data::-webkit-scrollbar-thumb:hover{
    background: #3A3B3C;
} */

.owner-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}
.owner-nav.close{
    width: 73px;
}
.owner-nav .owner-logo-name{
    display: flex;
    align-items: center;
}
.owner-nav .owner-logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}
.owner-nav .owner-logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.owner-nav .owner-logo-name .owner-logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transition: var(--tran-05);
}
.owner-nav.close .owner-logo_name{
    opacity: 0;
    pointer-events: none;
}
.owner-nav .owner-menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.owner-menu-items li{
    list-style: none;
}
.owner-menu-items li a{
    display: flex;
    align-items: center;
    height: 50px;
    text-decoration: none;
    position: relative;
}
.owner-nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}
body.dark li a:hover:before{
    background-color: var(--text-color);
}
.owner-menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.owner-menu-items li a .owner-link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);    
    transition: var(--tran-05);
}
.owner-nav.close li a .owner-link-name{
    opacity: 0;
    pointer-events: none;
}
.owner-nav-links li a:hover i,
.owner-nav-links li a:hover .owner-link-name{
    color: var(--primary-color);
}
body.dark .owner-nav-links li a:hover i,
body.dark .owner-nav-links li a:hover .owner-link-name{
    color: var(--text-color);
}
.owner-menu-items .owner-logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.owner-menu-items .owner-mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.owner-menu-items .owner-mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.owner-mode-toggle .owner-switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.owner-switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
body.dark .owner-switch:before{
    left: 20px;
}

.owner-dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}
.owner-nav.close ~ .owner-dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.owner-dashboard .owner-top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
.owner-nav.close ~ .owner-dashboard .owner-top{
    left: 73px;
    width: calc(100% - 73px);
}
.owner-dashboard .owner-top .owner-sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.owner-dashboard .owner-top .owner-search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
}
.owner-top .owner-search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.owner-top .owner-search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.owner-top img{
    width: 40px;
    border-radius: 50%;
}
.owner-dashboard .owner-dash-content{
    padding-top: 50px;
}
.owner-dash-content .owner-title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.owner-dash-content .owner-title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.owner-dash-content .owner-title .owner-text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.owner-dash-content .owner-boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.owner-dash-content .owner-boxes .owner-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}
.owner-boxes .owner-box i{
    font-size: 35px;
    color: var(--text-color);
}
.owner-boxes .owner-box .owner-text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}
.owner-boxes .owner-box .owner-number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.owner-boxes .owner-box.owner-box2{
    background-color: var(--box2-color);
}
.owner-boxes .owner-box.owner-box3{
    background-color: var(--box3-color);
}
.owner-dash-content .owner-activity .owner-activity-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.owner-activity .owner-activity-data{
    display: flex;
}
.owner-activity-data .owner-data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.owner-activity-data .owner-data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.owner-activity-data .owner-data .owner-data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

@media (max-width: 1000px) {
    .owner-nav{
        width: 73px;
    }
    .owner-nav.close{
        width: 250px;
    }
    .owner-nav .owner-logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .owner-nav.close .owner-logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    .owner-nav li a .owner-link-name{
        opacity: 0;
        pointer-events: none;
    }
    .owner-nav.close li a .owner-link-name{
        opacity: 1;
        pointer-events: auto;
    }
    .owner-nav ~ .owner-dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    .owner-nav.close ~ .owner-dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    .owner-nav ~ .owner-dashboard .owner-top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .owner-nav.close ~ .owner-dashboard .owner-top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .owner-activity .owner-activity-data{
        overflow-X: scroll;
    }
}

@media (max-width: 780px) {
    .owner-dash-content .owner-boxes .owner-box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }
}
@media (max-width: 560px) {
    .owner-dash-content .owner-boxes .owner-box{
        width: 100% ;
    }
}
@media (max-width: 400px) {
    .owner-nav{
        width: 0px;
    }
    .owner-nav.close{
        width: 73px;
    }
    .owner-nav .owner-logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .owner-nav.close .owner-logo_name{
        opacity: 0;
        pointer-events: none;
    }
    .owner-nav li a .owner-link-name{
        opacity: 0;
        pointer-events: none;
    }
    .owner-nav.close li a .owner-link-name{
        opacity: 0;
        pointer-events: none;
    }
    .owner-nav ~ .owner-dashboard{
        left: 0;
        width: 100%;
    }
    .owner-nav.close ~ .owner-dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    .owner-nav ~ .owner-dashboard .owner-top{
        left: 0;
        width: 100%;
    }
    .owner-nav.close ~ .owner-dashboard .owner-top{
        left: 0;
        width: 100%;
    }
}
